.shit-list {
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.pinned-container {
    margin-bottom: 5px;
    padding: 5px 15px;
    overflow: visible;
}

#pinnedArea {
    clear: both;
    list-style: none;
    margin-bottom: 5px;
    position: relative;
    padding: 0 10px 5px 10px;
}

.friends-title {
    margin-top: 10px;
}

.gameboard #fixes-pane .panel {
    overflow: hidden;
}

.gameboard #fixes-pane .panel.expanded {
    overflow-y: scroll;
}

.gameboard #fixes-pane h4 {
    margin-bottom: 10px;
    text-align: center;
}

.gameboard #fixes-pane button {
    font-size: 11px;
    margin: 0 0 5px 0;
    padding: 0 8px 1px;
    width: 100%;
}

#fixes-pane .panel {
    height: 28px;
    margin-top: 5px;
    transition: height 0.8s;
}

#fixes-pane .panel.expanded {
    height: 150px;
}

#fixes-pane .panel h4 {
    cursor: pointer;
}

#fixes-pane .panel h4 span::before {
    color: #fff;
    content: "▸ ";
}

#fixes-pane .panel.expanded h4 span::before {
    content: "▾ ";
}

#fixes-pane.corp button.runner {
    display: none;
}

#fixes-pane.runner button.corp {
    display: none;
}

.horizontal-scrolling .gameboard {
    overflow-x: auto;
}

.jankteki-user.known-user {
    border-bottom: #ffa500 1px solid;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding-bottom: 1px;
    position: relative;
}

.jankteki-user.known-user::before {
    content: attr(data-notes);
    display: none;
    height: 14px;
    left: -10px;
    overflow: hidden;
    position: absolute;
    top: -34px;
    width: 150px;

    // overlay
    background-color: rgba(39,56,76,1);
    border: 1px solid rgba(39,56,76,0.9);
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(255,255,255,0.1);
    color: #fff;
    margin: 5px;
    padding: 5px 10px;


}

.jankteki-user.known-user:hover::before {
    display: block;
}

/* TODO - on hover, display ONLY first line of notes. on click take to user profile page */
