.shit-list {
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.pinned-container {
    margin-bottom: 5px;
    padding: 5px 15px;
    overflow: visible;
}

#pinnedArea {
    clear: both;
    list-style: none;
    margin-bottom: 5px;
    position: relative;
    padding: 0 10px 5px 10px;
}

.friends-title {
    margin-top: 10px;
}

#gameboard .gameboard .secondary-pane {
    justify-content: flex-end;
}

.gameboard .secondary-pane > div {
    margin-top: 5px;
}

.gameboard #fixes-pane .panel {
    max-height: 200px;
    overflow: scroll;
}

.gameboard #fixes-pane h4 {
    margin-bottom: 10px;
    text-align: center;
}

.gameboard #fixes-pane button {
    width: 100%;
    font-size: 11px;
    margin: 0 0 5px 0;
    padding: 0 8px 1px;
}

#fixes-pane.corp button.runner {
    display: none;
}

#fixes-pane.runner button.corp {
    display: none;
}
