body {
    background: rgba(39, 56, 76, 0.82);
    border-radius: 4px;
    border: 1px #fff solid;
    color: #fff;
    margin: 6px;
    padding: 9px;
    width: 210px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 15px 0 0 0;
}

.remove-btn {
    float: right;
}

ul#friends-list {
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
}

li.friend,
li#new-item {
    display: block;
    margin-top: 5px;
    overflow: hidden;
}

li#new-item {
    margin-top: 15px;
}

#add-friend {
    float: right;
}
